.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "articles hot-articles";
    /* column-gap: 6.6875rem; */
    /* justify-content: center; */
}

.article {
    grid-area: articles;
}


@media screen and (max-width: 1200px) {

    .content {
        font-size: clamp(1.2rem, 1rem, 1.5rem);
        grid-template-areas:
        "articles"
        "hot-articles";
        
    }

    article:first-child {
        position: relative;
    }
    
}
