* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --purple: #716EF0;
    --gray: #828297;
    --lightgray: #D9D9D9;
}

.hero {
    background-image: url('/assets/heroImg/hero.png');
    background-repeat: no-repeat;
    max-width: 100%;
    height: 520px;
    display: block;
    background-size:cover;
    background-position: 50% 50%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    
    /* TODO fix the background img */
    .hero {
        max-height: clamp(40vh, 300px, 0px);
    }
}